* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to bottom right,
    black 0%,
    black 50%,
    rgb(187, 32, 40)
  );
  padding-left: 7rem;
  padding-right: 7rem;
}
.home {
  /* height: 100vh; */
  background: url(./images/kashifkhan.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 15rem;
}
.dis-flex {
  display: flex;
}
.header {
  justify-content: space-between;
  margin-top: -12rem;
}
.home img {
  width: 5rem;
  height: 5rem;
}
.menu-button {
  display: block;
}
span,
span::after,
span::before {
  position: relative;
  display: block;
  width: 2rem;
  height: 0.3rem;
  background-color: #fff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
span::before,
span::after {
  content: "";
  position: absolute;
  top: -20px;
}
span::after {
  top: 5px;
}
.home-content {
  margin-top: 10rem;
  margin-left: 5rem;
  color: #fff;
  margin-bottom: 3rem;
}
.upper-text,
.lower-text {
  font-family: "Fugaz One", cursive;
  font-size: 6rem;
  color: rgb(187, 32, 40);
}
.upper-text {
  color: white;
  margin-bottom: -50px;
}
.home-content p {
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  width: 20%;
  min-width: 20rem;
}
.introduction {
  justify-content: space-between;
  margin-top: 7rem;
}
.kkstand {
  margin-top: -10rem;
}
.kkstand {
  background: url(./images/kkstanding.png);
  background-size: 700px 700px;
  background-repeat: no-repeat;
  width: 40%;
  height: 450px;
  transform: scale(2);
  /* margin-left: 10rem; */
  margin-left: -10rem;
}
.content {
  width: 50%;
  padding-left: 2rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
}
.content p,
.journey-content p {
  color: white;
  font-family: Helvetica, sans-serif;
  width: 60%;
  word-spacing: 0.1rem;
  line-height: 1.5rem;
  min-width: 400px;
}
.read-more {
  color: rgb(187, 32, 40);
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  margin-top: 1rem;
}
.background {
  margin-top: 10rem;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
}
.background .content {
  width: 50%;
  padding-left: 3rem;
}
.kksit {
  background: url(./images/background.png);
  background-repeat: no-repeat;
  width: 20rem;
  height: 30rem;
  background-size: 100% 30rem;
}
.background img {
  width: 40rem;
  height: 30rem;
}
.journey {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10rem;
}
.border {
  padding: 1rem;
  border: 2px solid rgb(187, 32, 40);
  border-radius: 15px;
  transform: skewX(-10deg);
  margin-left: auto;
  margin-right: auto;
}

.journey img {
  width: 40rem;
  height: 20rem;
  transform: skewX(-0deg);
  border-radius: 15px;
}
.journey-content {
  margin-left: 20rem;
}
.footer {
  padding: 3rem;
  text-align: center;
}
.subscribe {
  margin-top: 2rem;
  width: 36%;
  margin-left: auto;
  margin-right: auto;
  min-width: 435px;
}
.subscribe .upper-text {
  font-size: 1.3rem;
  margin-top: -2rem;
  text-align: right;
}
.email {
  margin-top: 6rem;
  justify-content: center;
}
input {
  padding: 1rem 1rem;
  background-color: black;
  width: 25%;
  border: 2px solid rgb(187, 32, 40);
  box-shadow: 0 0 10px rgb(187, 32, 40);
}
input::placeholder {
  color: white;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}
.arrow {
  margin-left: 2rem;
}
.cpt {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}
.social-icons {
  margin-top: 1rem;
}
.social-icons img {
  margin: 1rem;
}
.footer {
  background: url(./images/dumbles.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 1400px) {
  .upper-text,
  .lower-text {
    font-size: 8rem;
  }
  .content p {
    min-width: 230px;
    width: 100%;
  }

  .background .content p {
    min-width: 200px;
  }
  .journey-content {
    margin-left: 10rem;
  }
  .upper-text,
  .lower-text {
    font-size: 5rem;
  }
  .kkstand {
    background-size: 600px 500px;
    width: 50%;
    height: 300px;
  }
  .content {
    width: 45%;
  }
  input {
    width: 40%;
  }
  .background img {
    width: 3 0rem;
    height: 20rem;
    margin-top: 2rem;
  }
  .background .content {
    padding-left: 0;
  }
  .journey-content {
    margin-left: 13rem;
  }
  .journey img {
    width: 35rem;
    height: 14rem;
  }
}
@media (max-width: 1025px) {
  .kkstand {
    background-size: 400px 400px;
    width: 40%;
    height: 250px;
    margin-left: -5rem;
    margin-top: -3rem;
  }
  .upper-text,
  .lower-text {
    font-size: 4rem;
    margin-bottom: -20px;
  }
  .background img {
    width: 25rem;
  }
  .journey-content p {
    width: 80%;
  }
  .journey-content {
    margin-left: 5rem;
  }
  .subscribe {
    min-width: 350px;
  }
}
@media (max-width: 900px) {
  .home img {
    width: 4rem;
    height: 4rem;
  }
  .menu-button {
    margin-top: 1rem;
  }
  body {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .kkstand {
    background-size: 350px 350px;
    width: 50%;
    height: 220px;
    margin-left: 0rem;
    margin-top: -1rem;
  }
  .background .content {
    width: 50%;
  }
  .background img {
    margin-top: 3rem;
    width: 25rem;
    height: 15rem;
  }
  .subscribe .upper-text {
    font-size: 1.3rem;
  }
  .subscribe-text {
    font-size: 5rem;
  }
  .subscribe {
    width: 40%;
    min-width: 430px;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .menu-button {
    margin-top: 0.5rem;
  }
  span,
  span::after,
  span::before {
    width: 1.7rem;
    height: 0.2rem;
  }
  span::before,
  span::after {
    top: -16px;
  }
  span::after {
    top: 1px;
  }
  .home img {
    width: 3rem;
    height: 3rem;
  }
  .upper-text,
  .lower-text {
    font-size: 3rem;
  }
  .journey img {
    width: 25rem;
    height: 14rem;
  }
  .journey-content p {
    min-width: 0;
  }
  .background {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .background img {
    margin-top: 3rem;
    width: 15rem;
  }
  .subscribe {
    min-width: 270px;
  }
  .subscribe .upper-text {
    margin-top: 0.1rem;
  }
  .content p {
    min-width: 0;
  }
  .kkstand {
    margin-left: -5rem;
  }
  .home-content p {
    font-size: 1.2rem;
    min-width: 15rem;
    margin-top: 0.5rem;
  }
}
@media (max-width: 540px) {
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .kkstand {
    margin-left: -6rem;
  }
  .upper-text,
  .lower-text {
    font-size: 2rem;
  }
  .upper-text {
    margin-bottom: -20px;
  }
  .content p {
    margin-top: 1rem;
    min-width: 0;
  }
  .background {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .background img {
    width: 15rem;
  }
  .journey img {
    width: 20rem;
    height: 10rem;
  }
  .journey-content p {
    margin-top: 0.5rem;
    min-width: 0;
  }
  .cpt {
    font-size: 1rem;
  }
  .subscribe {
    min-width: 170px;
  }
  .subscribe .upper-text {
    font-size: 0.7rem;
    margin-top: 0.4rem;
  }
  .social-icons img,
  .arrow {
    width: 1.5rem;
  }
  input {
    width: 60%;
    padding: 0.6rem 0.6rem;
  }
}
@media (max-width: 540px) {
  .home {
    min-height: 500px;
  }
  .home-content {
    margin-top: 5rem;
  }
  .home-content p {
    font-size: 1rem;
  }
  .introduction,
  .background {
    flex-direction: column;
  }
  .background {
    margin-top: 2rem;
  }
  .introduction {
    margin-top: 7rem;
    align-items: center;
  }
  .kkstand {
    margin-top: -10rem;
    margin-left: -5rem;
    background-size: 220px 220px;
    height: 140px;
    max-width: 200px;
  }
  .introduction .content {
    margin-top: 6rem;
  }

  .content {
    width: 85%;
    padding-left: 0;
  }
  .background > .content {
    width: 100%;
  }
  .background {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .content p {
    text-align: justify;
  }
  .background {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .background .content p {
    min-width: 0;
    text-align: justify;
  }
  .background img {
    width: 100%;
    margin-top: 1rem;
  }
  .journey {
    margin-top: 2rem;
  }
  .journey-content {
    margin-left: 3rem;
  }
  .journey img {
    width: 12rem;
  }
  .journey-content p {
    width: 90%;
    text-align: justify;
  }
  .email {
    margin-top: 3rem;
  }
  .footer {
    padding: 1rem;
  }
}
@media (max-width: 495px) {
  .home-content p {
    min-width: 8rem;
  }
  .kkstand {
    margin-top: -10rem;
    margin-left: -0rem;
    background-size: 200px 200px;
    height: 130px;
  }
}
@media (max-width: 423px) {
  .kkstand {
    margin-left: -4rem;
  }
}
@media (max-width: 320px) {
  .kkstand {
    margin-left: -8rem;
  }
}
